#parentIframe {
    display: none;
}

form .ng-invalid-custom-validate{
    border:2px solid #ec6868;
}

.search_style .search_content li {
    width: 250px;
    float: left;
    height: 32px;
    line-height: 32px;
}

.search_style .search_content li .btn_search {
    height: 32px;
    background: #2a8bcc !important;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#3b98d6),
    to(#197ec1)) !important;
    background-image: -moz-linear-gradient(top, #3b98d6 0, #197ec1 100%) !important;
    background-image: linear-gradient(to bottom, #3b98d6 0, #197ec1 100%) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b98d6',
    endColorstr='#ff197ec1', GradientType=0) !important;
    line-height: 32px;
    border: 0;
    width: 60px;
    text-align: center;
    color: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.footer_style {
    width: 100%;
    border-top: 1px solid #ddd;
    padding: 2px 0;
    color: #666666;
    background-color: #f2f2f2;
    font-family: "新宋体", serif;
    position: fixed;
    bottom: 0;
    z-index: 1111;
    text-align: center;
}

.footer_style p {
    padding: 0 20px;
}

#nav_list>li.open{
    overflow: inherit;
}

div.navbar{
    background: #FFF;
    border-bottom:6px solid #33689A;
}

.skin-1 .navbar{
    background: #222A2D;
}

.skin-2 .navbar{
    background: #C6487E;
}

.skin-3 .navbar{
    background: #D0D0D0;
}

.updateBtn{
    background-color: #2DDAAC !important;
    border-color: #2DDAAC !important;
}

.updateBtn:hover{
    background-color: #22C69D !important;
}

.addBtn{
    background-color: #20AAF2 !important;
    border-color:#20AAF2 !important;
    float: right;
    margin-top: 2px;
}

.addBtn:hover{
    background-color: #0795E0 !important;
}

.deleteBtn{
    background-color: #E94840 !important;
    border-color: #E94840 !important;
}
.deleteBtn:hover{
    background-color: #E11C27 !important;
}

.resetBtn{
    background-color: #FAD92A !important;
    border-color: #FAD92A !important;
}

.resetBtn:hover{
    background-color: #E7C00E !important;
}

.assignBtn{
    background-color: #7369AE !important;
    border-color: #7369AE !important;
}
.assignBtn:hover{
    background-color: #3F3661 !important;
}

.queryBtn{
    background-color: #1BADF6 !important;
    border-color: #1BADF6 !important;
    position: relative;
    top: -1px;
}
.queryBtn:hover{
    background-color: #076289 !important;
}

.page_style {
    float: right;
}

.page_style .page_btn {
    color: #0679CC;
    padding: 0 5px;
}

#titleName{
    display: block;
    position: relative;
    top: 8px;
    font-size: 30px;
    left: 45px;
}
.toolBar {
    padding: 3px 10px;
    height: 24px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 15px;
}

.table.table-bordered tbody tr td.User_Action_btn {
    text-align: left
}

.commonManager .addCommon {
    margin: 10px;
}

.commonManager .addCommon ul {
    margin: 0
}

.commonManager .addCommon li {
    float: left;
    height: 40px;
    margin: 5px;
    line-height: 52px;
    width: 255px
}

.commonManager .addCommon li .label_name, .commonManager .addCommon .Remark .label_name {
    float: left;
    width: 70px;
    text-align: right;
}

.commonManager .addCommon li .radio {
    float: left;
    width: 90px;
    margin-top: 0;
}

.commonManager .addCommon li .radio label {
    display: block;
    margin-top: 3px
}

.commonManager .addCommon li select {
    margin-left: 10px;
    width: 163px
}

.commonManager .addCommon .Remark {

}

.commonManager .addCommon .reset_style {
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;
}

.commonManager .addCommon .reset_style .btn {
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.date-icon{
    position: relative;
    right: 21px;
}
.pagination li{
    border:none!important;
}
.pagination li:hover{
    background: #2DDAAC!important;
}
.pagination li:hover a{
    color: #ffffff!important;
    text-decoration: none;
}
.pagination li.active{
    background: #2DDAAC!important;
    border:none!important;
}
.pagination li.active a{
    color:#fff!important;
}
.page_jump button.btn{
    background: #2DDAAC!important;
    border-color: #2DDAAC!important;
}
.page_jump button.btn:hover{
    background: #2DDAAC!important;
    border-color: #2DDAAC!important;
}
button{
    outline: none!important;
}
div.dataTables_paginate div.page_jump input{
    width: 50px!important;
    vertical-align: middle;
}
.layui-layer-content{text-align: center}
.layui-layer-btn{
    padding:0!important;
}
.layui-layer-btn a.layui-layer-btn0,.layui-layer-btn a.layui-layer-btn1{
    width:50%;
    float:right;
    margin:0;
    border:none;
}
.tabel_btn_style{
    color:#BF2025!important;
    text-decoration: none!important;
    font-weight: 600!important;
}
.tabel_btn_style_disabled{
    color:#797979!important;
    text-decoration: none!important;
    font-weight: 600!important;
}
.tabel_btn_style_dele{
    color: #BF2025 !important;
    text-decoration: none!important;
    font-weight: 600!important;
}
div[id$="_list_info"]{
    display: none;
}
div.dataTables_info{
    display: none;
}
.hideTime{
    display: none;
}