.ztree li span.button.noline_open {
	background:url(img/iconfont-iconfontcaret.svg) no-repeat center;
	background-size:65%;
	transform:rotate(90deg);
}
.ztree li span.button.noline_close {
	background:url(img/iconfont-iconfontcaret.svg) no-repeat center;
	background-size:65%;
}
.ztree li a:hover{
	text-decoration:none;
}
.ztree li span.button.noline_docu{
	width:3px;
}
