@charset "utf-8";

/* 禁用iPhone中Safari的字号自动调整 */
html,body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "PingFang-SC-Medium";
}
html,body{
	height: 100%;
}
fieldset, img, input, button, textarea {
	border: none;
	outline-style: none;
}
ul, ol {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	text-decoration: none;
	font-weight: normal;

}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}

.main {
	width: 1200px;
	margin: 0 auto;
	background-color: #f3f3f3;
}
.header h3 {
	font-size: 30px;
	line-height: 50px;
	text-align: center;
}
.container {
	font-size: 14px;
	color: #333;
}
.title {
	color: #0d9bdc;
	font-size: 16px;
	background-color: #d1d1f3;
	padding: 6px 20px;
}
.title h5 {
	border-left: 4px solid #0d9bdc;
	text-indent: 6px;
	font-weight: 700;
}
.details {
	padding: 10px 20px;
}
.content li {
	width: 50%;
}
.content li span,
.content li input {
	display: block;
	line-height: 30px;
	text-indent: 6px;
	float: left;
}
.content li span {
	width: 40%;
	background-color: #d1d1f3;
	border-bottom: 1px solid #fff;
}
.content li input {
	width: 60%;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.serialNumber {
	font-weight: 700;
	margin-bottom: 10px;
}
.noRecord {
	line-height: 100px;
	text-align: center;
	color: #999;
	padding: 10px 20px;
	background-color: #fff;
}