<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   

        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <!-- 凭证匹配器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="myRealm"/>
        <property name="sessionManager" ref="sessionManager"/>
        <!-- 使用下面配置的缓存管理器 -->
        <property name="cacheManager" ref="cacheManager"/>
    </bean>
    <!--自定义Realm -->
    <bean id="myRealm" class="com.zw.rule.web.shiro.UserRealm">
        <property name="permissionResolver" ref="urlPermissionResolver"/>
    </bean>

    <bean id="urlPermissionResolver" class="com.zw.rule.web.shiro.permission.UrlPermissionResolver">
    </bean>


    <!-- 配置shiro的过滤器工厂类，id- shiroFilter要和我们在web.xml中配置的过滤器一致 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/index"/>
        <property name="unauthorizedUrl" value="/unauthor"/>
        <property name="filters">
            <util:map>
                <entry key="formLoginFilter" value-ref="formLoginFilter"/>
                <entry key="resourceCheckFilter" value-ref="userFilter"/>
            </util:map>
        </property>
        <!--authc登陆认证  user用户认证检查 logout退出 filter-->
        <property name="filterChainDefinitions">
            <value>
                /=anon
                /QueryString/**=anon
                /login=anon
                /changeLang=anon
                /favicon.png=anon
                /index=anon,formLoginFilter
                /home=anon,formLoginFilter
                /doLogin=anon
                /unauthor=anon
                /logout=anon
                /finalAudit/bfWithdrawalCallback=anon
                /resources/**=anon
                /401.html=anon
                /403.html=anon
                /404.html=anon
                /error=anon
                /loan/*=anon
                /cms/*=anon
                /fintecher_file/cms/*=anon
                /excel/*=anon
                /taskMsg/*=anon
                /contract/*=anon
                /fintecher_file/activity/*=anon
                <!--/fintecher_file/*=anon-->
                /**=formLoginFilter,resourceCheckFilter
            </value>
        </property>
    </bean>

    <!-- 认证filter -->
    <bean id="formLoginFilter" class="com.zw.rule.web.shiro.filter.FormLoginFilter">
    </bean>
    <!-- 用户检查filter -->
    <bean id="userFilter" class="com.zw.rule.web.shiro.filter.ResourceCheckFilter">
        <property name="errorUrl" value="/403.html"/>
    </bean>

    <!--&lt;!&ndash; 会话Cookie 180000&ndash;&gt;
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="sid"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="180000"/>
    </bean>
    &lt;!&ndash; 会话ID生成器 &ndash;&gt;
    <bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator"/>
    &lt;!&ndash; 会话DAO &ndash;&gt;
    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">
        <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>
        <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
    </bean>-->
    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="globalSessionTimeout" value="1800000"/>
        <property name="deleteInvalidSessions" value="true"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <!--        <property name="sessionDAO" ref="sessionDAO"/>
                <property name="sessionIdCookieEnabled" value="true"/>
                <property name="sessionIdCookie" ref="sessionIdCookie"/>-->
    </bean>

    <!--ehcache-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:spring/ehcache.xml"/>
    </bean>
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator">
        <property name="proxyTargetClass" value="true"></property>
    </bean>
    <!--<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>-->
</beans>
