<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="false"
       xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.3.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       xmlns:aop="http://www.springframework.org/schema/aop">
    <!-- 自动扫描(自动注入) -->
    <context:component-scan base-package="com.zw">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:annotation-config/>

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- 读入配置属性文件 -->
    <context:property-placeholder
            ignore-unresolvable="true"
            file-encoding="UTF-8"
            location="classpath*:/properties/*_${project.env}.properties"/>

    <!--资产同步配置 create by 仙海峰-->
    <bean id="assetSettings" class="com.zw.rule.api.asset.AssetSettings">
        <property name="requestUrl" value="${asset.url}"/>
        <property name="requestType" value="${asset.type}"/>
    </bean>
    <!--资产同步配置 create by 韩梅生-->
    <bean id="bussinessSettings" class="com.zw.rule.api.asset.BussinessSettings">
        <property name="requestUrl" value="${bussiness.url}"/>
        <property name="requestType" value="${bussiness.type}"/>
    </bean>

    <!-- 手机短信配置BEAN create by luochaofang-->
    <bean id="msgSettings" class="com.zw.rule.api.sortmsg.MsgSettings">
        <property name="type" value="${sms.type}"/>
        <property name="channelUniqId" value="${sms.channelUniqId}"/>
        <property name="requestType" value="${sms.requestType}"/>
        <property name="requestUrl" value="${sms.url}"/>
        <property name="timeOut" value="${sms.timeOut}"/>
    </bean>

    <!-- 碧友信加密BEAN create by luochaofang-->
    <bean id="byxSettings" class="com.zw.rule.api.common.BYXSettings">
        <property name="appKey" value="${byx.appKey}"/>
        <property name="appSecrect" value="${byx.appSecrect}"/>
        <property name="desKey" value="${byx.desKey}"/>
        <property name="vi" value="${byx.iv}"/>
    </bean>

    <import resource="spring-mybatis.xml"/>

    <import resource="spring-shiro.xml"/>

</beans>