<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zw.rule.mapper.customer.CustomerExpendMapper" >
  <resultMap id="BaseResultMap" type="com.zw.rule.customer.po.CustomerExpend" >
    <id column="ID" property="ID" jdbcType="VARCHAR" />
    <result column="CREAT_TIME" property="CREAT_TIME" jdbcType="VARCHAR" />
    <result column="ALTER_TIME" property="ALTER_TIME" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="APEX1" property="APEX1" jdbcType="VARCHAR" />
    <result column="APEX2" property="APEX2" jdbcType="VARCHAR" />
    <result column="APEX3" property="APEX3" jdbcType="VARCHAR" />
    <result column="BAK" property="BAK" jdbcType="VARCHAR" />
    <result column="month_average_expense" property="monthAverageexpense" jdbcType="VARCHAR" />
    <result column="month_pay" property="monthPay" jdbcType="VARCHAR" />
    <result column="support_num" property="supportNum" jdbcType="VARCHAR" />
    <result column="customer_id" property="customerId" jdbcType="VARCHAR" />
    <result column="month_income" property="monthIncome" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREAT_TIME, ALTER_TIME, state, APEX1, APEX2, APEX3, BAK,
    month_average_expense, month_pay, support_num, customer_id, month_income
  </sql>
  <select id="getCustomerExpend" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from mag_customer_expend
    where CUSTOMER_ID = #{customerId}
  </select>
</mapper>