.l_checkbox {
	margin-top:10px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	width: 15px;
	height: 15px;
	border: 1px solid #e6e6e6;
	cursor: pointer;
}
.l_checkboxTwo{
	margin-top:10px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	width: 15px;
	height: 15px;
	border: 1px solid #e6e6e6;
	cursor: pointer;
}
.l_back{
	margin-top: 11px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	width: 15px;
	height: 15px;
	border: 1px solid #e6e6e6;
	cursor: pointer;
	background: url(../images/prop/check.png);
}
/* .l_display_first a:nth-child(4){
	width:120px
}
.l_display_first a:nth-child(5){
	width:120px
}
.l_display_first a:nth-child(6){
	width:120px
}
.l_display_first a:nth-child(7){
	width:90px
}
.l_display_first a:nth-child(8){
	width:90px
}
.l_display_first a:nth-child(9){
	width:90px
}
.l_display_first a:nth-child(10){
	width:50px
}
.l_display_first a:nth-child(11){
	width:70px
}
.l_display_first a:nth-child(12){
	width:90px
}
.l_display_first a:nth-child(13){
	width:70px
}
.l_display_first a:nth-child(14){
	width:70px
}


.l_display_create a:nth-child(3){
	width:120px
}
.l_display_create a:nth-child(4){
	width:120px
}
.l_display_create a:nth-child(5){
	width:120px
}
.l_display_create a:nth-child(6){
	width:90px
}
.l_display_create a:nth-child(7){
	width:90px
}
.l_display_create a:nth-child(8){
	width:90px
}
.l_display_create a:nth-child(9){
	width:50px
}
.l_display_create a:nth-child(10){
	width:70px
}
.l_display_create a:nth-child(11){
	width:90px
}
.l_display_create a:nth-child(12){
	width:70px
}
.l_display_create a:nth-child(13){
	width:70px
} */