<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.rule.mapper.engine.EngineMapper">

     <resultMap type="com.zw.rule.engine.po.Engine" id="engineMap">
	     <id column="id" property="id"/>
	     <result column="code" property="code"/>    
	     <result column="name" property="name"/>
	     <result column="remark" property="desc"/>
	     <result column="status" property="status"/>    
	     <result column="create_time" property="createTime"/>
	     <result column="update_time" property="updateTime"/>
	     <result column="creator" property="creator"/> 
	     <result column="org_id" property="orgId"/> 
	     <result column="user_id" property="userId"/>  
     </resultMap>

	<select id="getEngineByList"   parameterType="engine" resultMap="engineMap" >
       SELECT 
            *
         FROM
		zw_process
         where 
                status>-1  and
                org_id =#{orgId}
               
		 <if test="searchString != null and searchString !=''">		    
     		  and (code like CONCAT('%',TRIM('${searchString}'),'%' ) or name like CONCAT('%',TRIM('${searchString}'),'%' ))   
		 </if>	
		 order by update_time desc		
	</select>

	<update id="updateEngine" parameterType="engine"  >
		UPDATE  zw_process
		<set>
			<if test="code != null">
				code = #{code},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="desc != null">
				remark = #{desc},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="creator != null">
				creator = #{creator},
			</if>
			<if test="userId != null">
				user_id = #{userId},
			</if>
			create_time = now(),
			update_time = now()
		</set>
		WHERE
		org_id= #{orgId}
		and id = #{id}
	</update>

	<insert id="insertEngineAndReturnId" parameterType="engine"  useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		zw_process
		<trim prefix="(" suffix=")">
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="desc != null">
				remark,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="orgId != null">
				org_id,
			</if>
			<if test="status != null">
				status,
			</if>
			create_time,update_time
		</trim>
		values
		<trim prefix="(" suffix=")">
			<if test="code != null">
				#{code},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="desc != null">
				#{desc},
			</if>
			<if test="creator != null">
				#{creator},
			</if>
			<if test="userId != null">
				#{userId},
			</if>
			<if test="orgId != null">
				#{orgId},
			</if>
			<if test="status != null">
				#{status},
			</if>
			now(),now()
		</trim>
	</insert>

</mapper>