<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zw.rule.mapper.suggestion.SuggestionMapper" >
    <resultMap id="BaseResultMap" type="com.zw.rule.suggestion.po.Suggestion" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="tel" property="tel" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="person_id" property="personId" jdbcType="VARCHAR" />
        <result column="person_name" property="personName" jdbcType="VARCHAR" />
        <result column="creat_time" property="creatTime" jdbcType="VARCHAR" />
        <result column="alter_time" property="alterTime" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="apex1" property="apex1" jdbcType="VARCHAR" />
        <result column="apex2" property="apex2" jdbcType="VARCHAR" />
        <result column="apex3" property="apex3" jdbcType="VARCHAR" />
        <result column="bak" property="bak" jdbcType="VARCHAR" />
        <result column="deal_time" property="dealtime" jdbcType="VARCHAR" />
        <result column="deal_person" property="dealPerson" jdbcType="VARCHAR" />
        <result column="deal_emp_id" property="dealEmpId" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getSuggestionList" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select
        id,user_id,tel,title,content,person_id,person_name,creat_time,alter_time,state,apex1,apex2,apex3,bak,deal_time,deal_person,deal_emp_id,(SELECT `name` from zw_sys_dict where parent_id =(select id from zw_sys_dict where name ='投诉建议类型') and code=s_type) as type
        from app_suggestion
        where 1=1
        <if test="param.beginTime != null and param.beginTime != ''">
            and creat_time >#{param.beginTime}
        </if>
        <if test="param.endTime != null and param.endTime != ''">
            and #{param.endTime}> creat_time
        </if>
        <if test="param.content != null and param.content != ''">
            and content like '%${param.content}%'
        </if>
        <if test="param.type != null and param.type != ''">
            and s_type = #{param.type}
        </if>
        <if test="param.personName != null and param.personName != ''">
            and person_name = #{param.personName}
        </if>
        order by creat_time desc
    </select>
</mapper>